automl/node_modules
#automl/democratic/*
#automl/republican/*
automl/convote_v1.1/*
#automl/conservative.txt
#automl/liberal.txt

firebase/node_modules
firebase/functions/.env
firebase/functions/credentials.json

frontend-react/node_modules
frontend-react/.eslintcache
frontend-react/.env

./workspace.code-workspace
