body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: hidden;
    font-family: 'Atkinson';
    background-image: url('./assets/images/SDHacksBg.png');
    background-size: cover;
}

p {
    font-family: 'Atkinson';
}

@font-face {
    font-family: 'Atkinson';
    src: url('./assets/fonts/Atkinson-Hyperlegible-Regular-102.otf');
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('./assets/fonts/Helvetica-Bold.ttf');
}

@font-face {
    font-family: 'Helvetica Regular';
    src: url('./assets/fonts/Helvetica.ttf');
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

#app {
    display: grid;
    grid-template-columns: 0.2fr 1fr 6fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr;
    height: 100vh;
}

#main-container {
    margin: 20px;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 3px;
    background-color: rgba(61, 61, 61, 0.9);
}

#sidebar {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-left: 2px rgb(163, 163, 163) solid;
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#logo {
    width: 35vh;
    margin-bottom: 0;
}

.navbar-list-item {
    font-size: 25px;
    margin-left: 10px;
    align-self: center;
    justify-self: left;
    transition: 0.3s all;
    position: relative;
    font-family: 'Atkinson';
    font-style: italic;
    padding-left: 20px;
    opacity: 0.3;
}

.navbar-list-item-active {
    transition: 0.3s all;
    margin-left: 30px;
    opacity: 0.8;
    cursor: default;
}

.text-title {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.text-body {
    font-size: 18;
}

#analysis {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#urlEntry {
    font-family: 'Atkinson';
    background: none;
    border: none;
    font-size: 30px;
    width: 20vw;
}

#urlEntry:focus {
    outline: none;
}

#urlEntry::placeholder {
    color:rgb(255, 255, 255);
}

#urlSubmit {
    font-family: 'Atkinson';
    background: white;
    border: none;
    font-size: 30px;
    border: 2px black solid;
    transition: 0.3s all;
    transform: translate(6px, -6px);
    border-radius: 2px;
}

#urlSubmit:focus {
    outline: none;
}

#urlSubmit:active {
    background-color: rgb(150, 150, 150);
}

#urlSubmit:hover {
    transform: translate(3px, -3px);
}

#button-cont {
    background-color: black;
    margin-left: 50px;
}

#text-cont {
    transition: 0.3s all;
    position: relative;
}

#text-cont::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
    height: 2px;
    background-color: black;
    width: 0%;
    opacity: 0;
    transition: 0.2s all;
}

#text-cont:focus-within::after {
    width: 100%;
    opacity: 1;
}

#input-cont {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 10%;
    width: 50%;
}

#content-cont {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#analysis-cont {
    width: 70%;
    height: 20%;
    margin: 5px;  
}

#prompt-text {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 30px;
}

#preview-cont {
    width: 30%;
}

#stat-display {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}